Exercise M1.01 – Tabular Data Exploration
Instructions
In this exercise, you will explore a tabular dataset and answer the following questions:

Load the dataset.
Inspect the columns and data types.
Compute basic statistics.
Identify missing values.
⚠️ No solution yet — this notebook only contains the exercise description.

In [2]:
import pandas as pd
penguins = pd.read_csv("scikit-learn-mooc/datasets/penguins_classification.csv")

In [3]:
penguins.head(5)

   Culmen Length (mm)  Culmen Depth (mm) Species
0                39.1               18.7  Adelie
1                39.5               17.4  Adelie
2                40.3               18.0  Adelie
3                36.7               19.3  Adelie
4                39.3               20.6  Adelie

In [5]:
x=penguins.dtypes
x

Culmen Length (mm)    float64
Culmen Depth (mm)     float64
Species                object
dtype: object